<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <button name="status" value="on">켜기</button>
        <button name="status" value="off">끄기</button>
    </form>

    <h1><%= data %></h1>
</body>
</html>